<html lang="zh-CN">
 <head>
  <meta charset="UTF-8" />
	<title>记录样衣车间</title>
  <meta name="viewport" content="width=1980,width=device-width, initial-scale=1,  initial-scale=1.0,maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="css/mobile.css?v=2" />
  <link type="text/css" rel="stylesheet" href="css/popup.css" />
  <link  rel="stylesheet" href="css/loginpage.css" />
 </head>
 <body>
    <div class="m-box-mn">
     <ul class="m-article-list">
         <li class="odd"></li>
         <li class="odd"></li>
         <li class="odd"></li>
         <li class="odd"></li>
         <li class="odd"></li>
         <li class="odd"></li>
         <li class="odd"></li>
         <li class="odd">
           <form autocomplete="off" class="login_form"  name = "login_form">
                <div class="login_input" id="login_input_div" >
                    <i class="icon_login un"></i>
                     <div class="weui-desktop-form__input-area">
                      <span class="weui-desktop-form__input-wrp" >
                       <!----> <input  name="account" id = "account" placeholder="请输入本人常用邮箱" type="email" autocomplete="on" class="weui-desktop-form__input"/>
                       <!----></span>
                     </div>
                </div>
             <ul class="on_changes">
        			<li email="@tom.com"></li>
                    <li email="@qq.com"></li>
                    <li email="@gmail.com"></li>
                    <li email="@icloud.com"></li>
                    <li email="@163.com"></li>
                    <li email="@yahoo.com"></li>
                    <li email="@sina.com"></li>
                    <li email="@hotmail.com"></li>
                    <li email="@126.com"></li>
                </ul>
               <div class="login_btn_panel">
                <a title="点击登录" class="btn_login" onclick="emailSubmit()" id = "btn_login">我要制作</a>
               </div>
           </form>
         </li>
         <li class="odd"></li>
         <li class="odd"></li>
         <li class="odd"></li>
         <li class="odd"></li>
         <li class="odd"></li>
         <li class="odd"></li>
         <li class="odd"></li>
         <li class="odd"></li>
         <li class="odd"></li>
         <li class="odd"></li>
         <li class="odd"></li>
         <li class="odd"></li>
         <li class="odd"></li>
         <li class="odd"></li>
         <li class="odd"></li>
         <li class="odd"></li>
         <li class="odd">
             <p class="weui-desktop-link" style="text-align: center;">
                 <span id="foot1" style=" width: 0px; height: 0px; visibility: hidden; margin: 0px; padding: 0px;"></span>
                 支付完成后，制作详情将发送至您的邮箱</p>
         </li>
         <li class="odd">
             <p class="weui-desktop-link" style="text-align: center;">
                 <span id="foot2" style="width: 0px; height: 0px; visibility: hidden; margin: 0px; padding: 0px;"></span>
                 如有任何问题，可以通过以下方式联系我们</p></li>
         <li class="odd">
             <table border="0" style="margin: auto">
              <tr>
                <th><div style="text-align: center;">
                    <img src="img/phone16.png" style="display: inline-block; vertical-align: middle;"  />
                    </div>
                </th>
                <th align="left">
                    <p class="weui-desktop-link" style="text-align: left;">
                         <span id="foot4" style="width: 0px; height: 0px; visibility: hidden; margin: 0px;"></span>
                        <a href="tel:021-51688888">021-51688888</a>
                    </p>
                </th>
               </tr> 
            </table>
            <table border="0" style="margin: auto">
              <tr>
                <th><div style="text-align: center;">
                    <img src="img/email24.png" alt="" style="display: inline-block; vertical-align: middle;"  />
                    </div>
                </th>
                <th>
                    <p class="weui-desktop-link" style="text-align: left;">
                         <span id="foot3" style="width: 0px; height: 0px; visibility: hidden; margin: 0px;"></span>
                        <a href="mailto:admin@jilu-samplestudio.com">admin@jilu-samplestudio.com</a>

                    </p>
                </th>
               </tr> 
            </table>
         </li>
     </ul>
    </div>
 </body>
 <script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/popup.js" ></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="js/notify.js"></script>
</html>